---
title: jQuery - Animepng Plugin
---

.description
  %h1 jQuery - Animepng Plugin
  %h2 Version 1.0.0
%hr

%ul.links
  %li
    %a{:href => "https://github.com/is8r/jquery-animepng"} githubリポジトリ
  %li
    %a{:href => "http://hommebrew.com/lab/?p=365"} Blog記事
%hr

%ul.set
  %li
    %h3 元画像
    %img{:alt => "", :src => "images/char_sandogasa.png"}
  %li
    %h3 demo
    .anime0
    .anime1
    .anime2
    .anime3
%hr

%p.small
  ※画像は
  %a{:href => "http://park2.wakwak.com/~kuribo/dot/dot1.htm"}> kuribo
  さんのサイトから使わせていただいております。